.App {
  background-color:var(--mainBlue);
  font-family: 'Montserrat', sans-serif;
  
}

:root{
  --mainBlue:#19206e;
  --lightBlue:#1ba8ff;
  --mainWhite:white;
  --mainAsh:#c2c6f2;
  --deepBlue:#141a66;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}